body {
    margin:0
}

.cabecera {
    position:fixed;
    width:100%;
    z-index:1
}

.cabecera {
    top:0
}
/*
html {
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%
}*/

.margRelleno {
    padding:8px 16px!important
}

.contenido {
    max-width:980px 
}

.derecha {
    float:right!important
}

